In [1]:
# USANDO ESTRUCTURAS TODAS JUNTAS

In [2]:
import pandas as pd
import numpy as np

In [3]:
# creando una serie desde una lista
lst = ['G','E','E','K','S','F','O','R','G','E','E','K','S']
  
s = pd.Series(lst)
print(s)

0     G
1     E
2     E
3     K
4     S
5     F
6     O
7     R
8     G
9     E
10    E
11    K
12    S
dtype: object

In [4]:
# creando una serie desde un dict
dct = {'G':2,'E':4,'K':2,'S':2,'F':1,'O':1,'R':1}
  
s = pd.Series(dct)
print(s)

G    2
E    4
K    2
S    2
F    1
O    1
R    1
dtype: int64

In [5]:
# otro ejemplo con dict
t_dict = {'a' : [1,2,3], 'b': [4,5], 'c':6, 'd': "Hello World"}

series_dict = pd.Series(t_dict)
series_dict

a      [1, 2, 3]
b         [4, 5]
c              6
d    Hello World
dtype: object

In [6]:
# creando una serie desde un numpy array
arr = np.array(['G','E','E','K','S','F','O','R','G','E','E','K','S'])
  
s = pd.Series(arr)
print(s)

0     G
1     E
2     E
3     K
4     S
5     F
6     O
7     R
8     G
9     E
10    E
11    K
12    S
dtype: object

In [7]:
#crear una serie desde una secuencia np.. usando como índices enteros
series_index = pd.Series(
      np.array([10,20,30,40,50,60]), 
      index=np.arange(0,12,2) 
)
series_index

0     10
2     20
4     30
6     40
8     50
10    60
dtype: int64

In [8]:
#crear una serie desde una secuencia np.. usa como índice caracteres
series_index = pd.Series(
        np.array([10,20,30,40,50,60]), 
        index=['a', 'b', 'c', 'd', 'e', 'f' ] 
)
series_index

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [9]:
#otro ejemplo desde un dict
my_dict = { 
'name' : ["a", "b", "c", "d", "e"],
'age' : [10,20, 30, 40, 50],
'designation': ["CEO", "VP", "SVP", "AM", "DEV"]
}
df = pd.DataFrame( my_dict, 
index = [
"First -> ",
"Second -> ", 
"Third -> ", 
"Fourth -> ", 
"Fifth -> "])

df

           name  age designation
First ->      a   10         CEO
Second ->     b   20          VP
Third ->      c   30         SVP
Fourth ->     d   40          AM
Fifth ->      e   50         DEV

In [10]:
# un dataframe de pandas es lo mismo a una colección de una o mas series. Entonces podemos generar simples series desde los dataframes y viceversa.
series_name = df.name
series_age = df.age
series_designation = df.designation

df_from_series = pd.DataFrame([series_name, series_age])

df_from_series

     First ->  Second ->  Third ->  Fourth ->  Fifth ->
name         a          b         c          d         e
age         10         20        30         40        50

In [11]:
# iterar sobre las series
for value in series_name:
    print(value)

a
b
c
d
e

In [12]:
# desde un np a series
np_array = np.array([10, 20, 30, 40, 50])
print("Arreglo NumPy:")
print(np_array)
new_series = pd.Series(np_array)
print("Convertido a series:")
print(new_series)

Arreglo NumPy:
[10 20 30 40 50]
Convertido a series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
# crear un DF desde varias series y dict
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
print(area_dict)
print('------')
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
print(population_dict)
print('------')

area = pd.Series(area_dict)
population = pd.Series(population_dict)
states = pd.DataFrame({'population': population, 'area': area})

print(states)

{'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}
------
{'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
------
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [14]:
# crear un DF desde un array 2D con indices y nombres de columnas
df = pd.DataFrame(np.random.rand(3, 2), index = ['a','b','c'], columns = ['x', 'y'])
print(df)

          x         y
a  0.917718  0.678167
b  0.955924  0.790570
c  0.341116  0.722926