In [1]:
# EJEMPLOS CON PANDAS SERIES

In [2]:
import pandas as pd
s = pd.Series(['Matemáticas', 'Historia', 'Economía', 'Programación', 'Inglés'], dtype='<U21')
print(s)

0     Matemáticas
1        Historia
2        Economía
3    Programación
4          Inglés
dtype: object

In [3]:
# cuál es el tamaño
s.size

5

In [4]:
# cuál es el índice
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
# acceder por posición
# s[i] : Devuelve el elemento que ocupa la posición i+1 en la serie s.Comienza de 0
s[3]

'Programación'

In [6]:
# cambio el indice 1-4 por numeros escritos
new_index = ['uno', 'dos', 'tres', 'cuatro','cinco']
s.index= new_index
s

uno        Matemáticas
dos           Historia
tres          Economía
cuatro    Programación
cinco           Inglés
dtype: object

In [7]:
#accedo por nombre del indice
s['cuatro']

'Programación'

In [8]:
# aplicamos operaciones a una serie
s = pd.Series([1, 2, 3, 4])
s*2

0    2
1    4
2    6
3    8
dtype: int64

In [9]:
s%2

0    1
1    0
2    1
3    0
dtype: int64

In [10]:
#lo hago float
s = pd.Series([1.0, 2, 3, 4])
s%2

0    1.0
1    0.0
2    1.0
3    0.0
dtype: float64

In [11]:
#aplico funciones
s = pd.Series(['a', 'b', 'c'])
print('La serie es: \n',  s)
s1 = s.apply(str.upper)
print('Ahora la serie es: \n' , s1)

La serie es:
 0    a
1    b
2    c
dtype: object
Ahora la serie es:
 0    A
1    B
2    C
dtype: object

In [12]:
# filtrado
s = pd.Series({'Matemáticas': 6.0,  'Economía': 4.5, 'Programación': 8.5})
print('La serie es: \n',  s)
print('--------------')
print('Lo que seleccioné es: \n', s[s > 5])

La serie es:
 Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64
--------------
Lo que seleccioné es:
 Matemáticas     6.0
Programación    8.5
dtype: float64

In [13]:
#ordenar
print(s.sort_values())

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64

In [14]:
# Elimina datos nulos o desconocidos de una serie
import numpy as np

s = pd.Series(['a', 'b', None, 'c', np.NaN,  'd'])
print('La serie es: \n',  s)
print('Ahora la serie es: \n', s.dropna())

La serie es:
 0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object
Ahora la serie es:
 0    a
1    b
3    c
5    d
dtype: object